td {
  font-size: 4vw;
}

tr#B td {
  background-color: #ff0582;
}
tr#I {
  background-color: deepskyblue;
}
tr#N {
  background-color: darkorange;
}
tr#G {
  background-color: lime;
}
tr#O {
  background-color: #a50082;
}
